<h1>List all tasks</h1>

<% @tasks.each do |t| %>
  <h3><%= check_box_tag t.title, t.completed, checked = t.completed, disabled: true %><%= t.completed ? "Finished!" : "Not finished!" %> -- <%= link_to t.title, task_path(t) %> -- <%= link_to "Delete", task_path(t), method: :delete, data: {confirm: "Are you sure?"} %></h3>
<% end %>

<h3><%= link_to "Add a new task", tasks_new_path %></h3>
